/* Provide sufficient contrast against white background */
@font-face {
    font-family: "Quicksand";
    src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf);
}

body, *{
    font-family: Quicksand;
    border-radius: 2px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

