/* Provide sufficient contrast against white background */
:root {
    --primary-color: white;
    background-color: white;
}


@font-face {
    font-family: "Quicksand";
    src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf);
}

body, *{
    font-family: Quicksand;
    border-radius: 3px;
    background-color: inherit;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

button {
    border-radius: 10px;
    background: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.note {
    border-radius: 2px;
    background-color:  white;
    border: none;
    box-shadow: 2px 2px 8px 3px gray;
    margin: 5px 5px;
    padding: 2px;
}
.notePart {
    background-color: inherit;
}
.notePartTitle{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.notePartContent{
    border-radius: 0;
}
.notePartDate{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttonLeft {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.buttonCenter{
    border-radius: 0;
}
.buttonRight {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.buttonClose {
    border-bottom: none;
}
.buttonLeftClose{
    border-top-left-radius: 0;
    border-left: none;
}
.buttonRightClose{
    border-top-right-radius: 0;
    border-right: none;
}

.popup{
    border-radius: 9px;
}
.popup div{
    border-radius: 0;
    margin: 10px 10px;
}

.checkbox{
    border: 1px solid black;
    border-radius: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;

}

.addNote {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 0 0 0 300px;
    background-color: inherit;
    right: 0;
}

.mainButtons button, .mainButtons input {
    margin: 0 5px;
}
.sideBar{
    border: 1px solid gray;
}

