/* Provide sufficient contrast against white background */
:root {
    --primary-color: white;
}


@font-face {
    font-family: "Quicksand";
    src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf);
}

body, *{
    font-family: Quicksand;
    border-radius: 3px;
    background-color: orange;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.note {
    border-radius: 2px;
    background-color:  var(--primary-color);
    border: none;
    box-shadow: 1px 2px 3px 2px var(--primary-color);
    margin: 4px 4px;
    padding: 2px;
}
.notePart {
    background-color: inherit;
}
.notePartTitle{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.notePartContent{
    border-radius: 0;
}
.notePartDate{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

button {
    border-radius: 10px;
    background: transparent;
}


